@font-face {
	font-family: 'Helvetica';
	font-weight:100;
	src: url('font/Helvetica-Extended-Light.woff') format('woff');
}
@font-face {
	font-family: 'Helvetica';
	font-weight:800;
	src: url('font/Helvetica-Extended-Heavy.woff') format('woff');
}
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('font/PretendardVariable.woff2') format('woff2-variations');
}
:root {
    /* color */
    --white-color: #ffffff;
    --gray-color: #d3d3d3;
    --deep-gray-color: #c0c0c0;
    --navy-color: #191970;
    --yellow-color: #f0e68c;
    --deep-yellow-color: #ffd700;
    --black-color: #000000;
}
/* Reset CSS */

/* 전체 선택자에 대한 스타일 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 요소에 대한 스타일 초기화 */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* ol, ul 요소의 목록 스타일 초기화 */
ol, ul {
    list-style: none;
}

/* 링크 스타일 초기화 */
a {
    text-decoration: none;
    color: inherit;
}

/* 버튼 요소의 기본 스타일 초기화 */
button, input, select, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* Box-sizing을 사용하여 박스 모델 설정 */
* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html{
    font-size: calc(0.42vw + 2px);
    scroll-behavior:smooth;
}

body {
	font-family: 'Pretendard Variable';
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    color: #000;
    scroll-behavior:smooth;
}

#wrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12개의 동일한 너비 컬럼 */
    width: 100%; /* 전체 화면 너비 */
    height: 100vh; /* 전체 화면 높이 */
    max-width: 1920px; /* 전체 너비 1920px 기준 */
    margin: 0 auto; /* 가운데 정렬 */
  }

#visual {
    background: url(images/visual_bg.jpg) no-repeat center center;
    background-size: cover;
    grid-column: span 7; /* 좌측 7컬럼 */
    padding: 100px 24px; /* 좌측 padding으로 gutter 적용 */
    height: 100vh; /* 좌측 고정 높이 */
    overflow:hidden;
    text-align: center;
    position: relative;
}

#visual > div {
    width: 100%;
    height: 100%;
}

#visual .v_pc, #visual .v_mob {
    background: url(images/visual_con.png) no-repeat center center;
    background-size: contain;
}

#visual .v_tab, #visual .v_mob {
    display: none;
}

#visual .v_tab {
    background: url(images/visual_con_t.png) no-repeat center center;
    background-size: contain;
}

#visual .v_mob {

}

#visual img {
    width: 78%;
}

#content {
    scroll-behavior: smooth;
    grid-column: span 5; /* 우측 5컬럼 */
    height: 100vh; /* 우측은 높이 자유 */
    overflow-y: auto; /* 스크롤 가능하게 */
    background: #000; /* 배경 색상 예시 */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    position: relative;
    background: url(images/bg.png) repeat center top;
    background-size: contain;
}

#content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#wrap .h_mob {
    display: none;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    background: transparent; /* 초기 배경색 투명 설정 */
    padding: 24px;
    z-index: 100; /* 다른 요소보다 위에 위치 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: auto;
    height: 54px;
}

header .logo img {
    width: auto;
    height: 100%;
}

header .gnb {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

header .gnb li {
    margin-left:4px;
}

header .gnb li:first-child {
    margin-left:0;
}

header .gnb li a {
    font-size: 16px;
    font-weight: 400;
    color:#fff;
    padding: 4px 12px;
    border: 1px solid #fff;
    background: transparent;
}

header .gnb li:hover a {
    background: #fff;
    color:#000;
    transition: opacity 0.3s ease;
}

#content > div {
    padding-top: 160px;
}

#content > div > h2 {
    font-family: Helvetica;
    font-weight: 800;
    color:#fff;
    font-size:60px;
    margin-bottom: 40px;
}

#works h2 {
    padding: 0 24px;
}

#works > ul {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2)
}

#works .work_tit {
    width: 100%;
    padding: 32px 24px;
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

#works .work_tit h3 {
    font-family: Helvetica;
    font-weight: 100;
    color:#fff;
    font-size:28px;
}

#works .work_tit > ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

#works .work_tit > ul > li {
    font-size: 14px;
    font-weight: 400;
    color:#fff;
    padding: 4px 12px;
    border-radius: 14px;
    border: 1px solid #fff;
    background: transparent;
    margin-left: 4px;
}

#works .work_tit > ul > li:first-child {
    margin-left: 0;
}

#works .work_detail {
    position: fixed; /* 화면 기준으로 위치 */
    top: 0;
    left: -100vw; /* 시작 위치: 화면 바깥 */
    height: 100vh; /* 화면 전체 높이 */
    background: #000;
    z-index: 10; /* 다른 요소보다 위로 */
    transition: transform 0.6s ease; /* 트랜지션 적용 */
    color:#fff;
    padding: 24px;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    scroll-behavior: smooth;
}

#works .work_detail::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#works .work_detail .close-button {
    position: absolute;
    right: 24px;
    top: 24px;
}

#works .work_detail .work_tag {
    margin-bottom: 40px;
}

#works .work_detail .work_tag li {
    display: block;
    margin-bottom: 4px;
}

#works .work_detail .work_tag li span {
    font-size: 14px;
    font-weight: 400;
    color:#fff;
    padding: 4px 12px;
    border-radius: 14px;
    border: 1px solid #fff;
    background: transparent;
    display: inline-block;
}

#works .work_detail .work_tag li:last-child {
    margin-bottom: 0;
}

#works .work_detail h4 {
    font-family: Helvetica;
    font-weight: 100;
    color:#fff;
    font-size:70px;
    margin-bottom: 40px;
}

#works .work_detail p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
}

#works .work_detail .work_glist {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#works .work_detail .work_glist li {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
}

#works .work_detail .work_glist li:nth-child(2n) {
    margin-right: 0;
}

#works .work_detail .detail_img img {
    width: 100%;
}

#works .work_detail .work_glist li img {
    width: 100%;
}

#about {
    padding: 0 24px;
    color:#fff;
}

#about h3 {
    font-family: Helvetica;
    font-weight: 100;
    color:#fff;
    font-size:28px;
    margin-bottom: 24px;
}

#about p {
    font-size:16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 24px;
}

#about img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}

#about ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

#about ul li {
    font-size: 14px;
    font-weight: 400;
    color:#fff;
    padding: 4px 12px;
    border-radius: 14px;
    border: 1px solid #fff;
    background: transparent;
    margin-right: 4px;
    margin-top: 4px;
}

#contact {
    padding: 160px 24px;
    color: #fff;
}

#contact h3 {
    font-size:16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 24px;
}

#contact a {
    display: block;
    font-family: Helvetica;
    font-weight: 100;
    color:#fff;
    font-size:28px;
    margin-bottom: 24px;
}

#contact img {
    width: 100%;
    height: auto;
}

/* Tablet */
@media (max-width: 1024px) {

    #works .work_detail {
        display: none;
    }
    
    #wrap {
        display: block;
    }

    #wrap .h_pc {
        display: none;
    }

    #wrap .h_mob {
        display: flex;
    }
    
    #visual {
        width: 100%;
        height: 90vh;
        padding: 126px 24px 24px 24px;
    }

    #visual .v_pc, #visual .v_mob {
        display: none;
    }
    
    #visual .v_tab {
        display: block;
        width: 100%;
    }

    #works .work_detail {
        height: auto;
    }

    header {
        position: fixed; /* 최상단에 고정 */
        top: 0;
        left: 0;
    }

    #content {
        width: 100%;
        height: auto;
    }

    #content > div {
        padding-top: 120px;
    }

    #contact {
        padding: 120px 24px;
    }
    
    
}



/* mobile */
@media (max-width: 768px) {
    #visual {
        height: 60vh;
        padding: 68px 16px 16px 16px ;
    }

    #visual .v_pc, #visual .v_tab {
        display: none;
    }

    #visual .v_mob {
        display: block;
    }

    #content > div {
        padding-top: 40px;
    }

    #content > div > h2 {
        font-size:28px;
        margin-bottom: 20px;
    }

    header {
        padding: 16px;
    }

    header .logo {
        height: 32px;
    }

    header .gnb li a {
        font-size:12px;
    }

    #works h2 {
        padding: 0 16px;
    }

    #works .work_tit {
        padding: 16px;
        display: block;
    }

    #works .work_tit h3 {
        font-size: 20px;
        margin-bottom: 8px;
    }

    #works .work_tit > ul {
        justify-content: flex-end;
    }

    #works .work_tit > ul > li {
        font-size:12px;
        padding: 4px 8px;
    }

    #works .work_detail {
        padding: 16px;
    }

    #works .work_detail .close-button {
        right: 16px;
        top: 16px;
        width: 38px;
    }

    #works .work_detail .work_tag {
        margin-bottom: 20px;
    }

    #works .work_detail .work_tag li span {
        font-size: 12px;
        padding: 4px 9px;
    }

    #works .work_detail h4 {
        font-size: 38px;
        margin-bottom: 20px;
    }

    #works .work_detail p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    #works .work_detail .work_glist li {
        width: 100%;
        margin-right: 0;
    }

    #about {
        padding: 0 16px;
    }

    #about p {
        font-size:14px;
        margin-bottom: 12px;
    }

    #about h3 {
        font-size:18px;
        margin-bottom: 12px;
    }

    #about img {
        margin-bottom: 8px;
    }

    #about ul li {
        font-size:12px;
        padding: 4px 8px;
    }

    #contact {
        padding: 40px 16px;
    }

    #contact h3 {
        font-size:14px;
        margin-bottom: 12px;
    }
    
    #contact a {
        font-size:18px;
        margin-bottom: 12px;
    }
    
}